html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--positive-color: #8abeb7;
	--negative-color: #cc6766;
	--main-color: #7fa0bc;
	--background-lighter: #3b414d;
	--background: #282c34;
}
body {
	min-height: 100vh;
	background: var(--background);
	background-attachment: fixed;
	margin: 0;
	font-family: 'Doto', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'ROND' 0;
	font-size: 12px;
	color: var(--main-color);
}
button {
	background: none;
	color: var(--main-color);
	border: 1px dashed var(--main-color);
	font-family: 'Doto', sans-serif;
	padding: 0.25em 1.25em;
	transition: background-color 2.5s ease;
	background-color: var(--background);
}
button:hover {
	cursor: pointer;
	background-color: var(--background-lighter);
}
.active {
	font-weight: 900;
	background-color: var(--background-lighter);
}
.explanation {
	width: 500px;
	text-align: center;
}
.tick line {
	stroke: var(--main-color);
	stroke-dasharray: 2;
	opacity: 0.5;
}
.tick text {
	fill: var(--main-color);
}

.tippy-box[data-theme~='tomato'] {
	background-color: var(--background);
	color: var(--main-color);
	border: 1px dashed var(--main-color);
	padding: 0.25em 1.25em;
	font-size: inherit;
}
