html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--positive-color: #00ff48;
	--negative-color: #ff8000;
	--main-color: #000;
	--background-selected: #f9ff00;
	--background: #fff;
}
body {
	min-height: 100vh;
	background: var(--background);
	background-attachment: fixed;
	margin: 0;
	font-family: 'Silkscreen', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: var(--main-color);
}
button {
	background: none;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	font-family: inherit;
	padding: 0.25em 1.25em;
	transition:
		background-color 2.5s ease,
		opacity 1s ease;
	background-color: var(--background);
	font-size: 14px;
}
button:hover {
	cursor: pointer;
	background-color: var(--background-selected);
}
button:disabled {
	opacity: 0.5;
}
button:disabled:hover {
	cursor: default;
	background-color: var(--background);
}
.active {
	font-weight: bold;
	background-color: var(--background-selected);
}
.explanation {
	width: 500px;
	text-align: center;
}
.tick line {
	stroke: var(--main-color);
	/* stroke-dasharray: 2; */
	opacity: 0.5;
}
.tick text {
	fill: var(--main-color);
}

.tippy-box[data-theme~='tomato'] {
	background-color: var(--background-selected);
	color: var(--main-color);
	border: 1px solid var(--main-color);
	padding: 0.25em 1.25em;
	font-size: inherit;
}

.tippy-box[data-animation='myFade'][data-state='hidden'] {
	opacity: 0;
}
.tippy-box[data-animation='myFade'][data-state='visivle'] {
	opacity: 100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
